<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AutoRefreshInterval" value="10"/>
    <add key="OpacityHover" value="90"/>
    <add key="OpacityLeave" value="10"/>
  </appSettings>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
